kgiutihvjdut

In [3]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\berek\movie_genre_prediction\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\berek\movie_genre_prediction\venv\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\berek\movie_genre_prediction\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\berek\movie_genre_prediction\venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\berek\movie_genre_prediction\venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\berek\movie_genre_prediction\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
test_data = pd.read_csv(r'C:\Users\berek\movie_genre_prediction\test_data_solution.txt.zip', delimiter=' ::: ', engine='python', header=None)


train_data = pd.read_csv(r'C:\Users\berek\movie_genre_prediction\train_data.txt.zip', delimiter=' ::: ', engine='python', header=None)

In [6]:
test_data.head()

,0,1,2,3
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a marti...

In [7]:
train_data.head()

,0,1,2,3
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [8]:
combined_data=pd.concat([train_data, test_data],axis=0)

In [9]:
train_data.shape

(54214, 4)

In [10]:
test_data.shape

(54200, 4)

In [11]:
combined_data.shape

(108414, 4)

In [12]:
combined_data.head()

,0,1,2,3
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [13]:
combined_data.columns=['ID','title','type','description']

In [14]:
combined_data.head()

,ID,title,type,description
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...

In [15]:
combined_data.duplicated().sum()

np.int64(0)

In [16]:
combined_data.isnull().sum()

ID             0
title          0
type           0
description    0
dtype: int64

In [17]:
combined_data.dtypes

ID              int64
title          object
type           object
description    object
dtype: object

In [ ]:
combined_data['type'] = combined_data['type'].astype('category')

In [20]:
combined_data.dtypes

ID                int64
title            object
type           category
description      object
dtype: object